# Node.js / Vite
node_modules/
dist/
.vite/

# Logs, & Optional IDE/editor stuff
*.log
*.DS_Store
*.env.local
*.env.*
.idea/
.vscode/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln

# MacOS & Linux file system files
Thumbs.db
.DS_Store

# Production ZIP bundles or preview builds
*.zip
preview/
